<hr />

<footer class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="/">
                    <i class="fas fa-home"></i>
                    <span class="md-display">Home</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://www.linkedin.com/in/{{site.linkedIn}}">
                    <i class="fab fa-linkedin-in"></i>
                    <span class="md-display">LinkedIn</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="https://github.com/{{site.github}}">
                    <i class="fab fa-github"></i>
                    <span class="md-display">GitHub</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{site.tableau}}">
                    <i class="fas fa-chart-line"></i>
                    <span class="md-display">Tableau</span>
                </a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{site.resumelink}}">
                    <i class="fab fa-wpforms"></i>
                    <span class="md-display">Resume</span>
                </a>
            </li>
        </ul>
    </div>
</footer>