<div class="menu">
    <div class="home">
        <a href="/">
            <i class="fas fa-home"></i>
            Home
        </a>
    
    <div class="about">
        <a href="/about">
            <i class="fas fa-signature"></i>
            About Me
        </a>
    </div>
    <div class="projects">
        <a href="/notes">
            <i class="fas fa-project-diagram"></i>
            Projects
        </a>
    </div>
    <!--div class="hashtags">
        <a href="/tags">
            <i class="fas fa-hashtag"></i>
            Tags
        </a>
    </div>
    <div class="categories">
        <a href="/categories">
            <i class="far fa-folder-open"></i>
            Categories
        </a>
    </div>-->
</div>